<mat-card>
  <mat-card-title>Soy Card List Component</mat-card-title>

  <mat-card-content>
    <h1> Mis cartas</h1>

    <mat-list>
      <div *ngFor="let card of cards" style="margin-bottom: 25px">
        <p>Nombre: {{ card.name }}</p>
        <p>Atk: {{ card.atk }}</p>
        <p>Def: {{ card.def }}</p>
        <p>Lvl: {{ card.lvl }}</p>
        <mat-divider></mat-divider>
      </div>

    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="cancelarLista()">Cancelar</button>
    <button mat-raised-button color="accent" (click)="aceptarLista()">Aceptar</button>
  </mat-card-actions>

</mat-card>
